@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');

html {
    height: 100vh;
}

body {
    height: 100%;
    background: dimgrey;
    color: floralwhite;
    font-family: Orbitron;
}

@media (min-width: 265px) and (max-width: 440px) {
    #drum-machine {
        flex-direction: column;
    }

    #display {
        order: 1;
    }

    #pad-container {
        order: 2;
    }
}

#drum-machine {
    padding: 30px;
    background: #424242;
    border: 2px solid lightsalmon;
}

#display {
    min-height: 40px;
    min-width: 110px;
    background-color: #202020;
    border: 2px solid lightsalmon;
}

#pad-container {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33% 33%;
    grid-gap: 10px;
}

.drum-pad {
    display: block;
    width: 90px;
    height: 70px;
    color: snow;
    background: dimgrey;
    border: 1px solid lightsalmon;
    border-radius: 7px;
    font-weight: bold;

    &:active {
    background-color: lightgrey !important;
    }
}

.play {
    background-color: lightgrey !important;
}

a {
    color: lightsalmon; 
}
